:host {
  .header {
    color: #fff;
    background-color: #11c76f;
  }

  .m-b-30 {
    margin-bottom: 30px;
  }

  .status-response {
    display: flex;
    justify-content: center;

    span {
      margin-top: 20px;
      font-family: "Lato";
      font-size: 20px;
    }
  }

  .dismiss {
    display: flex;
    justify-content: center;

    .dismiss-button {
      background-color: #42b883;
      color: white;
      width: 200px;
      font-family: "Lato";
      font-size: 19px;
      margin-top: 20px;
    }
  }

  @media only screen and (max-width: 600px) {
    .status-response {
      span {
        margin-top: 0;
        font-size: 14px;
      }
    }
  }
}
